body { 
       background-image:  url('Images/background.png');
       background-repeat: no-repeat;
}

.title { 
         font-size: 18px;
         padding-top: 0;
         padding-left: 10px;
         padding-right: 3px;
         padding-bottom: 0;
}

.artist { 
          font-size: 10px;
          padding-top: 0;
          padding-left: 20px;
          padding-right: 3px;
          padding-bottom: 0;
}

.button-box { 
              position: absolute;
              left: 110px;
              top: 35px;
}

.button { 
          vertical-align: top;
}

.button-clicked { 
                  padding-top: 2px;
}